.background {
    height: 90px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    /* background-size: contain; */
    background-size: 40%;
    background-repeat: repeat;
}

.background>.logo {
    width: 170px;
    margin-top: 40px;
}

.title {
    margin-bottom: 0;
}

.written_by {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    margin-top: 0;
}

.author {
    color: rgb(78, 160, 255);
}

.caption {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: small;
}

.highlighted {
    background-color: gold;
}

ul {
    margin-left: 0;
    padding-left: 15px;
}

table {
    width: 55%;
    text-align: left;
    vertical-align: center;
}

tr {
    display: inline-block;
}

.column_1, .column_2 {
    width: 25%;
}

.column_3 {
    width: 48%;
}

.row_1 {
    background-color: aqua;
}

.row_2, .row_4 {
    background-color: aquamarine;
}