.background {
    height: 90px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    /* background-size: contain; */
    background-size: 40%;
    background-repeat: repeat;
}

.background>.logo {
    width: 170px;
    margin-top: 40px;
}

.title {
    margin-bottom: 0;
}

.written_by {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    margin-top: 0;
}

.author {
    color: rgb(78, 160, 255);
}

/* .photo {
    width: 1100px;
} */

.caption {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: small;
}